<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.srb.dao.LendItemReturnMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.srb.entity.LendItemReturn">
        <id column="id" property="id" />
        <result column="lend_return_id" property="lendReturnId" />
        <result column="lend_item_id" property="lendItemId" />
        <result column="lend_id" property="lendId" />
        <result column="invest_user_id" property="investUserId" />
        <result column="invest_amount" property="investAmount" />
        <result column="current_period" property="currentPeriod" />
        <result column="lend_year_rate" property="lendYearRate" />
        <result column="return_method" property="returnMethod" />
        <result column="principal" property="principal" />
        <result column="interest" property="interest" />
        <result column="total" property="total" />
        <result column="fee" property="fee" />
        <result column="return_date" property="returnDate" />
        <result column="real_return_time" property="realReturnTime" />
        <result column="is_overdue" property="overdue" />
        <result column="overdue_total" property="overdueTotal" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, lend_return_id, lend_item_id, lend_id, invest_user_id, invest_amount, current_period, lend_year_rate, return_method, principal, interest, total, fee, return_date, real_return_time, is_overdue, overdue_total, status, create_time, update_time, is_deleted
    </sql>

</mapper>
