<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.srb.dao.UserBindMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.srb.entity.UserBind">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="name" property="name" />
        <result column="id_card" property="idCard" />
        <result column="bank_no" property="bankNo" />
        <result column="bank_type" property="bankType" />
        <result column="mobile" property="mobile" />
        <result column="bind_code" property="bindCode" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, name, id_card, bank_no, bank_type, mobile, bind_code, status, create_time, update_time, is_deleted
    </sql>

</mapper>
